/* Pallette: */
/*

Light: white
Pink: #F54E56

*/

.no-padding {
  padding: 0px;
}

.no-margin {
  margin: 0px;
}

.pad-bottom {
  padding-bottom: 20px;
}

.pad-column {
  padding: 0px 20px;
}

.pad {
  padding: 20px;
}

.pad-section {
  padding: 150px 0px;
}

.pad-section-sm {
  padding: 50px 0px;
}

.container-sm {
  max-width: 400px;
}

.container-md {
  max-width: 800px;
}


.background-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.vertical-child {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: darken(white, 20%);
  background-color: transparent;
  text-decoration: none;
}

a:hover, 
a:focus {
  color: rgb(75,180,255);
}

.form-checkbox {
  padding-left: 20px;
}

.text-light {
  color: white;
}

.text-md {
  font-size: 16px;
}

.text-sm {
  font-size: 12px;
}

.uppercase {
  text-transform: uppercase;
}

.background-lightgray {
  background-color: lightgray;
}

.background-gray {
  background-color: gray;
}

.background-darkgray {
  background-color: darkgray;
}

.form-control.background-light {
  background-color: white;
}

.background-light {
  background-color: white;
}

.border-bottom {
  border-bottom: 1px solid lightgray;
}

img {
  max-width: 100%;
}

.background-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*
##     ##  #######  ########     ###    ##       
###   ### ##     ## ##     ##   ## ##   ##       
#### #### ##     ## ##     ##  ##   ##  ##       
## ### ## ##     ## ##     ## ##     ## ##       
##     ## ##     ## ##     ## ######### ##       
##     ## ##     ## ##     ## ##     ## ##       
##     ##  #######  ########  ##     ## ######## 
*/

.modal-backdrop {
  background-color: red;
}

.modal .btn-primary {
  background-color: #F54E56;
  border: none;
  border-radius: 0px;
}

.modal .btn-primary.focus,
.modal .btn-primary:focus,
.modal .btn-primary:hover,
.modal .btn-primary:active,
.modal .btn-primary:active:focus {
  background-color: white;
  border: none;
  color: #F54E56;
  font-weight: bold;
  box-shadow: none;
}

#modal-close-button-wrapper {
  position: relative;
}

#modal-close-button {
  position: absolute;
  right: -32px;
  top: -33px;
  border-radius: 50%;
  background-color: black;
  height: 40px;
  width: 40px;
}

.modal-header .close {
  opacity: 1;
  margin-top: 0px;
  font-size: 50px;
  text-shadow: none;
  color: white;
  line-height: 30px;
}

.modal-content {
  border-radius: 0px;
}

.modal-header {
  border-bottom: none;
  padding: 0px;
}

.modal-title {
  font-size: 50px;
}

.modal-body {
  padding: 0px;
}

.modal-footer {
  border-top: none;
  padding: 6px 0px 10px 0px;
  border-top: 1px solid #cccccc;
  background-color: black;
}

.modal-form-button-wrapper {
  padding-bottom: 30px;
}

.modal-video-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.modal-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal {
  text-align: center;
}

.modal-dialog {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

/*
########   ######      #######  ##     ## ######## ########  ########  #### ########  ########  ######  
##     ## ##    ##    ##     ## ##     ## ##       ##     ## ##     ##  ##  ##     ## ##       ##    ## 
##     ## ##          ##     ## ##     ## ##       ##     ## ##     ##  ##  ##     ## ##       ##       
########   ######     ##     ## ##     ## ######   ########  ########   ##  ##     ## ######    ######  
##     ##       ##    ##     ##  ##   ##  ##       ##   ##   ##   ##    ##  ##     ## ##             ## 
##     ## ##    ##    ##     ##   ## ##   ##       ##    ##  ##    ##   ##  ##     ## ##       ##    ## 
########   ######      #######     ###    ######## ##     ## ##     ## #### ########  ########  ######  
*/

.btn {
  border-radius: 6px;
  padding: 10px 40px;
}

nav .btn-nav {
  margin: 8px 0px;
  font-size: 14px;
  padding: 2px 15px;
  line-height: 26px;
  border-width: 2px;
}

.btn-primary {
  font-size: 20px;
  background-color: #ed1c24;
  color: white;
  border: none;
  border: 3px solid #ed1c24;
}

.btn-primary.btn-sm {
  padding: 6px 8px;
  font-size: 16px;
}

.btn-primary.focus,
.btn-primary:focus,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:active:focus {
  background-color: transparent;
  border: 3px solid #ed1c24;
  color: #ed1c24;
  font-weight: bold;
  box-shadow: none;
}

.btn-secondary {
  font-size: 20px;
  background-color: green;
  color: white;
  border: 3px solid green;
}

.btn-secondary a {
  color: green;
}

.btn-secondary:hover {
  color: green;
}

.btn-secondary.focus,
.btn-secondary:focus,
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:active:focus {
  background-color: white;
  color: green;
  box-shadow: none;
}

.btn-secondary-outline {
  padding: 10px 40px;
  font-size: 20px;
  text-transform: uppercase;
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

.btn-secondary-outline.focus,
.btn-secondary-outline:focus,
.btn-secondary-outline:hover,
.btn-secondary-outline:active,
.btn-secondary-outline:active:focus {
  background-color: white;
  color: green;
  box-shadow: none;
}

.form-wrapper {
  padding: 2px 20px 30px 20px;
}

.form-control {
  background-color: #f2f2f2;
  background-image: none;
  border: none;
}

.profile-thumb img {
  max-width: 100%;
}

/*
##    ##    ###    ##     ## ####  ######      ###    ######## ####  #######  ##    ## 
###   ##   ## ##   ##     ##  ##  ##    ##    ## ##      ##     ##  ##     ## ###   ## 
####  ##  ##   ##  ##     ##  ##  ##         ##   ##     ##     ##  ##     ## ####  ## 
## ## ## ##     ## ##     ##  ##  ##   #### ##     ##    ##     ##  ##     ## ## ## ## 
##  #### #########  ##   ##   ##  ##    ##  #########    ##     ##  ##     ## ##  #### 
##   ### ##     ##   ## ##    ##  ##    ##  ##     ##    ##     ##  ##     ## ##   ### 
##    ## ##     ##    ###    ####  ######   ##     ##    ##    ####  #######  ##    ## 
*/

.navbar {
  position: relative;
  border: none;
}

.navbar-default {
  background-color: transparent;
  border-radius: 0;
  margin-bottom: -50px;
  z-index: 99999;
}

.navbar-logo {
  float: left;
  padding: 4px 0px;
}

.navbar-logo img {
  max-height: 40px;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: rgba(255,255,255,0.8);
}

.navbar-default .navbar-nav > li > a.btn:focus, .navbar-default .navbar-nav > li > a.btn:hover {
  background-color: #95c664;
}

.navbar-default .navbar-toggle {
  border-color: white;
  border-width: 2px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:active {
  background-color: rgba(255,255,255,0.3);
}

.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none;
  height: 1000000px;
}


/*
##     ## ########    ###    ########  ######## ########  
##     ## ##         ## ##   ##     ## ##       ##     ## 
##     ## ##        ##   ##  ##     ## ##       ##     ## 
######### ######   ##     ## ##     ## ######   ########  
##     ## ##       ######### ##     ## ##       ##   ##   
##     ## ##       ##     ## ##     ## ##       ##    ##  
##     ## ######## ##     ## ########  ######## ##     ## 
*/


/*
########  #######   #######  ######## ######## ########  
##       ##     ## ##     ##    ##    ##       ##     ## 
##       ##     ## ##     ##    ##    ##       ##     ## 
######   ##     ## ##     ##    ##    ######   ########  
##       ##     ## ##     ##    ##    ##       ##   ##   
##       ##     ## ##     ##    ##    ##       ##    ##  
##        #######   #######     ##    ######## ##     ## 
*/

/*
##     ## ######## ########  ####    ###    
###   ### ##       ##     ##  ##    ## ##   
#### #### ##       ##     ##  ##   ##   ##  
## ### ## ######   ##     ##  ##  ##     ## 
##     ## ##       ##     ##  ##  ######### 
##     ## ##       ##     ##  ##  ##     ## 
##     ## ######## ########  #### ##     ## 
*/

@media (max-width: 768px) {
  .pad-column {
    padding: 0px 40px;
  }
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

